ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5000

TerraformSettings__RootPath=/app/workspace
TerraformSettings__CredentialsEncryptionKey=
DatabaseSettings__ConnectionString=Data Source=/app/data/terraform.db

GIT_TOKEN=
GIT_REPO_URL=
GIT_USER_NAME=
GIT_USER_EMAIL=
